/* Google Font */
body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#0b0b0b;
    color:#fff;
}

/* NAVBAR */

.navbar{
    background:rgba(10,10,10,.75)!important;
    backdrop-filter:blur(15px);
    border-bottom:1px solid rgba(255,193,7,.15);
}

.navbar-brand{
    font-family:'Bebas Neue',sans-serif;
    font-size:2rem!important;
    color:#ffc107!important;
    letter-spacing:2px;
}

.nav-link{
    color:white!important;
    transition:.3s;
}

.nav-link:hover{
    color:#ffc107!important;
}

/* HERO */

.hero{

    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
    url("../images/hero.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

}

.hero-overlay{

    max-width:800px;
    padding:20px;

}

.hero h1{

    font-family:'Bebas Neue',sans-serif;

    font-size:7rem;

    letter-spacing:6px;

    color:#ffc107;

    text-shadow:
    0 0 15px orange,
    0 0 40px red;

}

.hero p{

    font-size:1.3rem;

    margin-top:25px;

    color:#ddd;

}

/* BUTTONS */

.btn-warning{

    background:#ffc107!important;

    border:none!important;

    transition:.3s;

}

.btn-warning:hover{

    transform:translateY(-4px);

    box-shadow:0 0 25px orange;

}

.btn-outline-light:hover{

    background:#ffc107!important;

    color:black!important;

}

/* CARDS */

.card{

    background:#161616!important;

    border:1px solid #333;

    transition:.35s;

}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 30px rgba(255,193,7,.35);

}

.card img{

    height:250px;

    object-fit:cover;

}

/* SECTION */

section h2{

    font-family:'Bebas Neue',sans-serif;

    font-size:3rem;

    letter-spacing:2px;

}

/* FOOTER */

footer{

    border-top:1px solid #333;

}

/* MOBILE */

@media(max-width:768px){

.hero h1{

font-size:4rem;

}

.hero p{

font-size:1rem;

}

}
